 <div class="span3"><!-- inicia columna izquierda interna-->
      	<div class="alto">
      		<ul class="thumbnails">
      			<li class="span3">
      				<div class="thumbnail">
      					<p>
      						LDS Ingeniería y Gestión Inmobiliaria Ltda., presta servicios al sector público y privado en las áreas técnica y legal, relacionados con gestión inmobiliaria, constitución de servidumbres, asesoría y negociación de tierras, consultoría, interventoría, atención a comunidades, construcción de obras civiles y facilidades, en procesos de sísmica, exploración, explotación y producción de hidrocarburos.
      					</p>
      				</div>
      			</li>
      			<li class="span3">
      				<div class="thumbnail">
      					<img src="/img/foto_mediana.png">
      					<p>
      						LDS mantiene contacto permanente con las comunidades de las zonas en donde se desarrollan los proyectos. Antes y durante la ejecución de los mismos, convocamos reuniones informativas sobre las diferentes etapas del proceso. También acompaña procesos de resolución de conflictos con los propietarios de las zonas intervenidas.
      					</p>
      				</div>
      			</li>
      		</ul>
      	</div>
     </div><!-- finaliza columna izquierda interna-->