    <!--=== Footer ===-->
    <div class="footer">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span4">
                    <!-- About -->
                    <div class="headline"><h3>Sobre LDS</h3></div>  
                    <p class="margin-bottom-25">Empresa colombiana que presta servicios de ingeniería y consultoría para la industria de hidrocarburos y en el sector energético.</p>    

                    <!-- Monthly Newsletter -->
                    <div class="headline"><h3>Boletín Mensual</h3></div> 
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form class="form-inline">
                        <div class="input-append">
                            <input type="text" placeholder="Email Address" class="input-medium">
                            <button class="btn-u">Subscribe</button>
                        </div>
                    </form>                         
                </div><!--/span4--> 
                
                <div class="span4">
                    <div class="posts">
                        <div class="headline"><h3>Noticias Recientes</h3></div>
                        <dl class="dl-horizontal">
                            <dt><a href="#"><img src="/img/footer/6.jpg" alt="" /></a></dt>
                            <dd>
                                <p><a href="#">Baneer Baneer Baneer Baneer is Baneer incredibly Baneer responsive Baneer Baneer</a></p> 
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                        <dt><a href="#"><img src="/img/footer/10.jpg" alt="" /></a></dt>
                            <dd>
                                <p><a href="#">Baneer moon Baneer Baneer is an Baneer Baneer responsive Baneer Baneer</a></p> 
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                        <dt><a href="#"><img src="/img/footer/11.jpg" alt="" /></a></dt>
                            <dd>
                                <p><a href="#">Baneer moon Baneer Baneer is Baneer Baneer Baneer responsive Baneer Baneer</a></p> 
                            </dd>
                        </dl>
                    </div>
                </div><!--/span4-->

                <div class="span4">
                    <!-- Monthly Newsletter -->
                    <div class="headline"><h3>Contacto</h3></div> 
                    <address>
                        Avenida 19 N°118-30 Oficina 510 <br />
                        Bogotá D.C. <br />
                        Teléfono: 6296835 / 6293741 <br />
                        Calle 21 N°5 Bis 21 Oficina 402 <br />
                        Huila, Neiva <br />
                        Teléfono: 8741722 <br />
                        Email: <a href="mailto:serviciocliente@ldsingenieria.com.co" class="">serviciocliente@ldsingenieria.com.co</a>
                    </address>

                    <!-- Stay Connected -->
                    <div class="headline"><h3>Redes Sociales</h3></div> 
                    <ul class="social-icons">
                        <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                        <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                        <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                        <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                        <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                        <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                        <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
                    </ul>
                </div><!--/span4-->
            </div><!--/row-fluid--> 
        </div><!--/container--> 
    </div><!--/footer-->    
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row-fluid">
                <div class="span8">                     
                    <p>2013 &copy; LDSIngenieria. ALL Rights Reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
                </div>
                <div class="span4"> 
                    <a href="index.html"><img id="logo-footer" src="/img/footer/logo_lubu.png" class="pull-right" alt="" /></a>
                </div>
            </div><!--/row-fluid-->
        </div><!--/container--> 
    </div><!--/copyright--> 