<div class="container">
	<div class="row">
  <div class="span12">
    <div class="row">
     <%= render 'shared/colderecha' %>
      <div class="span8 "><!-- inicia columna derecha interna-->
        <br>
             <h2>CONTACTO</h2>
             <br>
              <h4>Ciudad de Neiva</h4>
              <br>
        <div class="row">
          <div class="span4">
            <iframe width="300" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Carrera+19+%23+118-30,+Bogot%C3%A1+-+Cundinamarca,+Colombia&amp;aq=0&amp;oq=Avenida+19+%23118-30&amp;sll=4.699445,-74.050105&amp;sspn=0.017344,0.018947&amp;ie=UTF8&amp;hq=&amp;hnear=Carrera+19+%23+118-30,+Bogot%C3%A1,+Cundinamarca,+Colombia&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Carrera+19+%23+118-30,+Bogot%C3%A1+-+Cundinamarca,+Colombia&amp;aq=0&amp;oq=Avenida+19+%23118-30&amp;sll=4.699445,-74.050105&amp;sspn=0.017344,0.018947&amp;ie=UTF8&amp;hq=&amp;hnear=Carrera+19+%23+118-30,+Bogot%C3%A1,+Cundinamarca,+Colombia&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
            <br>
          </div>
          <div class="span3">
            <div class="box-t">
              <address>
              <strong>Twitter, Inc.</strong><br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
             
            <address>
              <strong>Full Name</strong><br>
              <a href="mailto:#">first.last@example.com</a>
            </address>
            </div>  
          </div>
        </div>
        
          <br>
              <h4>Ciudad de Bogota</h4>
             <br>
        <div class="row">
          <div class="span4">
            <iframe width="300" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Carrera+19+%23+118-30,+Bogot%C3%A1+-+Cundinamarca,+Colombia&amp;aq=0&amp;oq=Avenida+19+%23118-30&amp;sll=4.699445,-74.050105&amp;sspn=0.017344,0.018947&amp;ie=UTF8&amp;hq=&amp;hnear=Carrera+19+%23+118-30,+Bogot%C3%A1,+Cundinamarca,+Colombia&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Carrera+19+%23+118-30,+Bogot%C3%A1+-+Cundinamarca,+Colombia&amp;aq=0&amp;oq=Avenida+19+%23118-30&amp;sll=4.699445,-74.050105&amp;sspn=0.017344,0.018947&amp;ie=UTF8&amp;hq=&amp;hnear=Carrera+19+%23+118-30,+Bogot%C3%A1,+Cundinamarca,+Colombia&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
            <br>
          </div>
          <div class="span3">
            <div class="box-t">
              <address>
              <strong>Twitter, Inc.</strong><br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
             
            <address>
              <strong>Full Name</strong><br>
              <a href="mailto:#">first.last@example.com</a>
            </address>
            </div>  
          </div>
        </div>

      </div><!--finaliza columna derecha interna -->
    </div><!--finaliza row columna interna  -->
  </div><!--finaliza columna principal -->
</div><!--finaliza  row columna principal -->
</div>
