<div class="container">
	<div class="row">
  <div class="span12">
    <div class="row">
     <%= render 'shared/colderecha' %>
      <div class="span8 "><!-- inicia columna derecha interna-->
            <br>
            <h1>Historia</h1>
            <ul class='timeline'>
                  <li class="year">1992</li>
                  <li class='event offset-first'>
                        <p>Un grupo de profesionales con una amplia experiencia en la construcción de proyectos de infraestructura afectados por variables de tipo jurídico-legal, manejo de propietarios, comunidades, y resolución de conflictos para el éxito de dichos proyectos, deciden crear la empresa LDS Ingeniería y Asesoría en Tierras Ltda.</p>
                        <span class="help-block"><em>fecha 1992.</em></span>
                  </li>
                  <li class='event' href="#">
                        Timeline is <b>dynamic</b>, <b>responsive</b> and optimized to <b>demonstrate events</b> in your life in a <b>simple and clear</b> way
                  </li>
                  <li class='event' href="#">
                        Timeline <b>dynamic</b>, <b>responsive</b> and optimized to <b>demonstrate events</b> in your life in a <b>simple and clear</b> way
                  </li>
                  <li class="event">
                        <a href="#" title="christian fei">
                              asdasdad  by <img class='no-box centered' src="/img/foto_mediana.png" alt="christian fei">
                        </a>
                  </li>
                  <li class="event">
                        <a href="#">
                              Open source project on codepen.io
                              <img class='no-box centered' src="/img/foto_mediana.png" alt="">
                        </a>
                  </li>
                  <li class='event'>
                        Look, a sleepy kitten: <br/>
                        <img class='no-box' src="/img/foto_mediana.png"/>
                        <a href='#'>&copy;</a>
                  </li>
                  <li class="year">2012</li>
                  <li class="event offset-first">
                        <p>To infinity  ... </p>
                        <img class='centered no-box' src="/img/foto_mediana.png" alt="">
                        <a href='#'>&copy;</a>
                  </li>
                  <li class="event">
                        <p>... and beyond!</p>
                        <img class='centered no-box' src="/img/foto_mediana.png" alt="">
                        <a href='#'>&copy;</a>
                  </li> 
            </ul>            
      </div><!--finaliza columna derecha interna -->
    </div><!--finaliza row columna interna  -->
  </div><!--finaliza columna principal -->
</div><!--finaliza  row columna principal -->
</div>
