<div class="container">
	<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span3"><!-- inicia columna izquierda interna-->
      	<div class="alto">
      		<ul class="thumbnails">
      			<li class="span3">
      				<div class="thumbnail">
      					<p>
      						LDS Ingeniería y Gestión Inmobiliaria Ltda., presta servicios al sector público y privado en las áreas técnica y legal, relacionados con gestión inmobiliaria, constitución de servidumbres, asesoría y negociación de tierras, consultoría, interventoría, atención a comunidades, construcción de obras civiles y facilidades, en procesos de sísmica, exploración, explotación y producción de hidrocarburos.
      					</p>
      				</div>
      			</li>
      			<li class="span3">
      				<div class="thumbnail">
      					<img src="/img/foto_mediana.png">
      					<p>
      						LDS mantiene contacto permanente con las comunidades de las zonas en donde se desarrollan los proyectos. Antes y durante la ejecución de los mismos, convocamos reuniones informativas sobre las diferentes etapas del proceso. También acompaña procesos de resolución de conflictos con los propietarios de las zonas intervenidas.
      					</p>
      				</div>
      			</li>
      		</ul>
      	</div>
     </div><!-- finaliza columna izquierda interna-->
      <div class="span8"><!-- inicia columna derecha interna-->
      	<h2>Servicios</h2>
      	<div class="media">
      		<div class="pull-left">
      			<img src="/img/foto_grande.png">
      		</div>
      		<div class="media-body">
      			<h4 class="media-heading">Asesoria y negociacion de tierras</h4>
      			<ul>
      				<li>Reconocimiento de terrenos.</li>
      				<li>Estudio de títulos.</li>
      				<li>Avalúo y negociación de predios.</li>
      				<li>Obtención de permisos.</li>
      				<li>Legalización de predios.</li>
      				<li>Implementación de Sistemas de Información Geográfica.</li>
      				<li>Soporte antes, durante y después de cada proyecto.</li>
      				<li>Constitución de servidumbres.</li>
      				<li>Levantamiento topográfico.</li>
      				<li>Transacción, pago y reconocimiento de afectaciones.</li>
      				<li>Atención a reclamaciones.</li>
      			</ul>
      		</div>
      	</div>
      	<div class="media"><!--inicia media-->
      		<div class="pull-right">
      			<img src="/img/foto_grande.png">
      		</div>
      		<div class="media-body">
      			<h4 class="media-heading">Asesoría legal</h4>
      			<ul>
      				<li>Supervisión legal del proyecto en su etapa de exploración y explotación.</li>
      				<li>Supervisión legal de servidumbres.</li>
      				<li>Peritajes.</li>
      				<li>Asesoría en la declaración de utilidad pública y expropiación de tierras.</li>
      				<li>Amparos policivos de las servidumbres.</li>
      			</ul>
      		</div>
      	</div><!--finaliza media -->
      	<div class="media"><!--inicia media -->
      		<div class="pull-left">
      			<img src="/img/foto_grande.png">
      		</div>
      		<div class="media-body">
      			<h4 class="media-heading">Obras civiles</h4>
      			<ul>
      				<li>Estructuras en concreto.</li>
      				<li>Edificaciones y obras arquitectónicas.</li>
      				<li>Locaciones y facilidades.</li>
      				<li>Explanaciones y vías de acceso.</li>
      				<li>Obras de urbanismo.</li>
      			</ul>
      		</div>
      	</div><!--finaliza media -->
      	<div class="media"><!--inicia media-->
      		<div class="pull-right">
      			<img src="/img/foto_grande.png">
      		</div>
      		<div class="media-body">
      			<h4 class="media-heading">Consultoría e interventoría</h4>
      			<ul>
      				<li>En infraestructura vial.</li>
      				<li>Redes de acueducto y Alcantarillado.</li>
      				<li>Obras de urbanismo.</li>
      			</ul>
      		</div>
      	</div><!--finaliza media -->
      </div><!--finaliza columna derecha interna -->
    </div><!--finaliza row columna interna  -->
  </div><!--finaliza columna principal -->
</div><!--finaliza  row columna principal -->
</div>
