<div class="container">
	<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span3"><!-- inicia columna izquierda interna-->
      	<div class="alto">
      		<ul class="thumbnails">
      			<li class="span3">
      				<div class="thumbnail">
      					<p>
      						LDS Ingeniería y Gestión Inmobiliaria Ltda., presta servicios al sector público y privado en las áreas técnica y legal, relacionados con gestión inmobiliaria, constitución de servidumbres, asesoría y negociación de tierras, consultoría, interventoría, atención a comunidades, construcción de obras civiles y facilidades, en procesos de sísmica, exploración, explotación y producción de hidrocarburos.
      					</p>
      				</div>
      			</li>
      			<li class="span3">
      				<div class="thumbnail">
      					<img src="/img/foto_mediana.png">
      					<p>
      						LDS mantiene contacto permanente con las comunidades de las zonas en donde se desarrollan los proyectos. Antes y durante la ejecución de los mismos, convocamos reuniones informativas sobre las diferentes etapas del proceso. También acompaña procesos de resolución de conflictos con los propietarios de las zonas intervenidas.
      					</p>
      				</div>
      			</li>
      		</ul>
      	</div>
     </div><!-- finaliza columna izquierda interna-->
      <div class="span9"><!--inica row columna interna  -->
        <br>
        <h3>Operaciones y Proyectos</h3>
        <blockquote>
          <p>En todos sus proyectos, LDS INGENIERÍA LTDA ha contratado personal de las zonas donde se llevan a cabo actividades:</p>
        </blockquote>
        <div>
          
        </div>
        <div class="row">
          <div class="span3">
            <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>LDS Ingeniería ofrece un servicio de alta calidad, garantizando el mejoramiento continuo en los procesos de negociación de tierras, interventoría y consultoría.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
             <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>Aplica nuevas estrategias basadas en su política de negociación de tierras y utilizando procesos altamente confiables.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
          </div>
          <div class="span3">
            <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                   <small>Adelanta procesos fácilmente auditables.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
             <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>Garantiza una significativa reducción de costos y la optimización del recurso humano en las áreas legal y técnica.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
             <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>Promueve la estandarización de procesos y precios en las negociaciones de tierras.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
          </div>
          <div class="span3">
            <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>Mantiene excelentes relaciones entre la comunidad y los clientes, fortaleciendo su imagen ante las comunidades.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
            <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>Fomenta la disminución de la expectativa del valor de la tierra, en las zonas donde se desarrollan los proyectos.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
          </div>
        </div>
    </div><!--finaliza row columna interna  -->
  </div><!--finaliza columna principal -->
</div><!--finaliza  row columna principal -->
</div>
