<div class="container">
	<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span3"><!-- inicia columna izquierda interna-->
      	<div class="alto">
      		<ul class="thumbnails">
      			<li class="span3">
      				<div class="thumbnail">
      					<p>
      						LDS Ingeniería y Gestión Inmobiliaria Ltda., presta servicios al sector público y privado en las áreas técnica y legal, relacionados con gestión inmobiliaria, constitución de servidumbres, asesoría y negociación de tierras, consultoría, interventoría, atención a comunidades, construcción de obras civiles y facilidades, en procesos de sísmica, exploración, explotación y producción de hidrocarburos.
      					</p>
      				</div>
      			</li>
      			<li class="span3">
      				<div class="thumbnail">
      					<img src="/img/foto_mediana.png">
      					<p>
      						LDS mantiene contacto permanente con las comunidades de las zonas en donde se desarrollan los proyectos. Antes y durante la ejecución de los mismos, convocamos reuniones informativas sobre las diferentes etapas del proceso. También acompaña procesos de resolución de conflictos con los propietarios de las zonas intervenidas.
      					</p>
      				</div>
      			</li>
      		</ul>
      	</div>
     </div><!-- finaliza columna izquierda interna-->
      <div class="span9"><!-- inicia columna derecha interna-->
            <br>
      	<h2>Organización</h2>
      	<div class="media">
      		<div class="pull-right">
      			<img src="/img/foto_mediana.png">
      		</div>
      		<div class="media-body centro">
      			<p>
                              Sus directivos se han destacado por consolidar la empresa a nivel nacional por su gran compromiso con el país, contribuyendo al desarrollo social y económico en las áreas de influencia de sus proyectos.

                        </p>
      		</div>
      	</div>
      	<div class="media"><!--inicia media-->
      		<div class="pull-left">
      			<img src="/img/foto_mediana.png">
      		</div>
      		<div class="media-body centro">
      			<p>
              Arquitecta, <strong>Sandra Paola Bonilla Torres</strong> Representante Legal, Gerente Administrativa y General, Especialista en Gerencia de Proyectos, y en Gerencia Internacional del Negocio del Petróleo y Gas, responde a la formulación de estrategias, programas, procedimientos, y normas que garanticen nuestros servicios a los  potenciales clientes del sector Hidrocarburos y el sector Energético.

                        </p>
      		</div>
      	</div><!--finaliza media -->
      	<div class="media"><!--inicia media -->
      		<div class="pull-right">
      			<img src="/img/foto_mediana.png">                       
      		</div>
      		<div class="media-body centro">
                        <p>
                              <strong>Luis David Suesca Castro</strong>, Ingeniero Civil Especialista en Gerencia de Proyectos como Gerente Operativo, se encarga de garantizar  que las estrategias, programas, procedimientos y normas establecidos en el programa de Aseguramiento de Calidad,  garanticen a nuestros clientes la eficiencia en el  servicio desde el punto de vista técnico y funcional.
                        </p>
      		</div>
      	</div><!--finaliza media -->
        <br>
        <div class="well">
          <div class="row">
            <div class="span4">
              <div class="pull-right">
                <img src="/img/iso9000.jpg">
              </div>
            </div>
            <div class="span4">
              <p>
            Certificación de calidad expedida por BVQI en ISO 9001:2000 en los procesos de negociación de tierras, los cuales incluyen: avalúo, valoración, compra de predios y activos, pago de indemnizaciones, asesoría jurídica legal en los sectores de hidrocarburos, infraestructura e industria, interventoría y consultoría en infraestructura tanto vial como estructural y urbanística.
          </p>
            </div>
          </div>
        </div>
        <div class="row">
          <h4>Fortalezas de la Compañía</h4>
          <div class="span4">
            
            <ul>
              <li>Una política de calidad total establecida, que garantiza el mejoramiento continuo de los procesos en todas las actividades.</li>
              <li>Gran compromiso y rápida adaptabilidad a los requerimientos de nuestros clientes.</li>
              <li>Amplia experiencia en el sector energético y de hidrocarburos.</li>
            </ul>
          </div>
          <div class="span4">
            <ul>
              <li>Excelente equipo humano.</li>
              <li>Identificación, planeación, y ejecución de soluciones técnicas y administrativas con aplicación en HSEQ, (calidad, salud, seguridad, medio ambiente) en los procesos de exploración y explotación de hidrocarburos y desarrollo energético.</li>
              <li>Alta organización, metodología y seguimiento de nuestros protocolos, relacionados con las políticas, manuales, normas y procedimientos de nuestros clientes.</li>
            </ul>
          </div>
        </div> 
    </div><!--finaliza row columna interna  -->
  </div><!--finaliza columna principal -->
</div><!--finaliza  row columna principal -->
</div>
