<div class="container">
	<div class="row">
  <div class="span12">
    <div class="row">
       <%= render 'shared/colderecha' %>
      <div class="span9"><!--inica row columna interna  -->
        <br>
        <h3>Operaciones y Proyectos</h3>
        <blockquote>
          <p>En todos sus proyectos, LDS INGENIERÍA LTDA ha contratado personal de las zonas donde se llevan a cabo actividades:</p>
        </blockquote>
        <div class="row">
          <div class="span4">
            <div id="mapa">
               <img src="/img/mapa_colombia.png" id="img-mapa"> 
          <div id="huila">
              <i class="icon-compass icon-2x" rel="tooltip" title="Proyectos: en Tesalia, Teruel, Garzón, Algeciras y Neiva" id="ico"></i>    
          </div>
           <div id="tolima">
              <i class="icon-compass icon-2x" rel="tooltip" title="Proyectos: en Ortega, Ibagué" id="ico"></i>    
          </div>
           <div id="pasto">
              <i class="icon-compass icon-2x" rel="tooltip" title="Proyectos: en Tumaco" id="ico"></i>    
          </div>
           <div id="valle">
              <i class="icon-compass icon-2x" rel="tooltip" title="Proyectos: en Buenaventura y Río Frío" id="ico"></i>    
          </div>
            <div id="arauca">
              <i class="icon-compass icon-2x" rel="tooltip" title="Proyectos: en Arauquita y Saravena" id="ico"></i>    
          </div>
           <div id="boyaca">
              <i class="icon-compass icon-2x" rel="tooltip" title="Proyectos: en Cubará" id="ico"></i>    
          </div>
          <div id="santander">
              <i class="icon-compass icon-2x" rel="tooltip" title="Proyectos: en Tibú" id="ico"></i>    
          </div>
          <div id="norte-santander">
              <i class="icon-compass icon-2x" rel="tooltip" title="Proyectos: en Toledo, Chinácota, Bochalema, San Cayetano, Cúcuta, Sardinata, Tibú, El Tarra, Convención, Teorama y El Carmen" id="ico"></i>    
          </div>
          <div id="cesar">
              <i class="icon-compass icon-2x" rel="tooltip" title="Proyectos: en La Gloria, Pelaya, Tamalameque, Pailitas y Chimichagua" id="ico"></i>    
          </div>
           <div id="magdalena">
              <i class="icon-compass icon-2x" rel="tooltip" title="Proyectos: en El Banco, San Sebastián, San Zenón, Pijiño, Santa Anta y Santa bárbara de Pinto" id="ico"></i>    
          </div>
          <div id="cordoba">
              <i class="icon-compass icon-2x" rel="tooltip" title="Proyectos: en San Pedro, Sincé, San Juan de Betulia, Corozal, Morroa, Sincelejo, Palmito y Coveñas" id="ico"></i>    
          </div>
            </div>
         
          </div>
          <div class="span5">
            <div>
              <p>Determinación, evaluación, avalúo y valoración para el proyecto desarrollo de Cañada Norte, para los municipios de Paicol, Iquira y Tesalia, con 509 predios.</p>
              <p>Negociación de tierras en las áreas de operación de Petrobras correspondientes al proyecto Balay-Casanare.</p>
              <p>Negociación de tierras en las áreas de operación de Petrobras correspondientes a los contratos de Asociación Villanueva, Villarrica, Tierra Negra, Espinal Profundo y Boquerón Profundo.</p>
              <p>Proyecto de Construcción del Gasoducto Don Pedro - Monserrate - Santa Rita - Saldaña.</p>
              <p>Servicio profesional de asesoría y negociación de tierras, determinación, evaluación y avalúo de perjuicios, manejo de problemas con propietarios o tenedores de tierras que requiera HOCOL en los municipios del Huila y del Tolima.</p>
            </div>         
          </div>         
        </div>
        <div class="row">
          <div class="span3">
            <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>LDS Ingeniería ofrece un servicio de alta calidad, garantizando el mejoramiento continuo en los procesos de negociación de tierras, interventoría y consultoría.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
             <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>Aplica nuevas estrategias basadas en su política de negociación de tierras y utilizando procesos altamente confiables.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
          </div>
          <div class="span3">
            <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                   <small>Adelanta procesos fácilmente auditables.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
             <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>Garantiza una significativa reducción de costos y la optimización del recurso humano en las áreas legal y técnica.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
             <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>Promueve la estandarización de procesos y precios en las negociaciones de tierras.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
          </div>
          <div class="span3">
            <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>Mantiene excelentes relaciones entre la comunidad y los clientes, fortaleciendo su imagen ante las comunidades.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
            <ul class="media-list"><!--inicio media-->
              <li class="media">
                <a class="pull-left" href="#">
                  <i class="icon-chevron-right icon-2x"></i>
                </a>
                <div class="media-body">
                  <!-- Nested media object -->
                  <p>
                    <small>Fomenta la disminución de la expectativa del valor de la tierra, en las zonas donde se desarrollan los proyectos.</small>
                  </p>
                </div>
              </li>
            </ul><!--finaliza media-->
          </div>
        </div>
    </div><!--finaliza row columna interna  -->
  </div><!--finaliza columna principal -->
</div><!--finaliza  row columna principal -->
</div>
