<div class="container">
	<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span3"><!-- inicia columna izquierda interna-->
      	<div class="alto">
      		<ul class="thumbnails">
      			<li class="span3">
      				<div class="thumbnail">
      					<p>
      						LDS Ingeniería y Gestión Inmobiliaria Ltda., presta servicios al sector público y privado en las áreas técnica y legal, relacionados con gestión inmobiliaria, constitución de servidumbres, asesoría y negociación de tierras, consultoría, interventoría, atención a comunidades, construcción de obras civiles y facilidades, en procesos de sísmica, exploración, explotación y producción de hidrocarburos.
      					</p>
      				</div>
      			</li>
      			<li class="span3">
      				<div class="thumbnail">
      					<img src="/img/foto_mediana.png">
      					<p>
      						LDS mantiene contacto permanente con las comunidades de las zonas en donde se desarrollan los proyectos. Antes y durante la ejecución de los mismos, convocamos reuniones informativas sobre las diferentes etapas del proceso. También acompaña procesos de resolución de conflictos con los propietarios de las zonas intervenidas.
      					</p>
      				</div>
      			</li>
      		</ul>
      	</div>
     </div><!-- finaliza columna izquierda interna-->
      <div class="span9"><!-- inicia columna derecha interna-->
            <br>
      	<h2>Responsabilidad corporativa</h2>
      	<div class="media">
      		<div class="pull-right">
      			<img src="/img/foto_grande.png">
      		</div>
      		<div class="media-body centro">
      			<p>
                              LDS Ingeniería y Gestión Inmobiliaria Ltda., tiene muy claro que el desarrollo económico debe ser compatible con el compromiso social y el respeto al medio ambiente, de tal forma que se vean satisfechas las necesidades presentes sin comprometer las posibilidades futuras, contribuyendo así a un desarrollo sostenible y retribuyéndolo a la propia sociedad.
                              <br>
                              <br>
                               De esta manera, es política de nuestra organización asumir la responsabilidad social como un compromiso voluntario que contribuya con el desarrollo integral y el bienestar de toda la comunidad y de los trabajadores de la organización, cumpliendo con la legislación nacional y los derechos laborales y de seguridad social.

                        </p>
      		</div>
      	</div>
      	<div class="media"><!--inicia media-->
      		<div class="pull-left">
      			<img src="/img/foto_grande.png">
      		</div>
      		<div class="media-body centro">
      			<p>
                             Adicionalmente se han realizado acompañamientos dentro del proceso de socialización que se han generado por la construcción de la Represa Hidroeléctrica del Quimbo. LDS INGENIERÍA facilita créditos a sus empleados con los cuales mejorar sus condiciones de vida; además se han promovido actividades culturales de recreación y deporte, así como la participación activa en campañas de HSE.

                        </p>
      		</div>
      	</div><!--finaliza media -->
      	<div class="media"><!--inicia media -->
      		<div class="pull-right">
      			<img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
                        <br>
                        <br>
                        <img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
                        <br>
                        <br>
                        <img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
                        <img src="/img/foto_pequeña.png">
      		</div>
      		<div class="media-body">
                        <p>
                              LDS apoya a la infancia desprotegida del Huila con la donación de regalos durante el mes de diciembre, canalizados por la Primera Dama y Gestora Social del Departamento con su programa “Creciendo Juntos por el Huila”. Los programas se han desarrollado en los municipios de Paicol, Tesalia, Yaguará, Palermo, Aipe y Neiva.
                              <br>
                              <br>
                              La compañía ha involucrado a la comunidad en campañas viales que buscan concientizar a los ciudadanos sobre la aplicación de las normas de tránsito y las buenas costumbres y comportamiento en la vía pública en las comunidades de influencia de nuestros trabajos. De igual manera, se mantiene el apoyo del arte y la cultura del departamento del Huila a través de sus principales exponentes como los maestros Emiro Garzón, Segundo Huertas y del apoyo a la Fundación Gustavo Matamoros D´acosta.
                        </p>
      		</div>
      	</div><!--finaliza media -->
            <div class="well">
                  <p>
                        Los Diez Principios de <strong>El Pacto Mundial</strong> están basados en Declaraciones y Convenciones Universales aplicadas en cuatro áreas: Derechos Humanos, Medio Ambiente, Estándares Laborales y Anticorrupción.
                  </p>
            </div>
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                  <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Derechos Humanos</a></li>
                        <li><a href="#tab2" data-toggle="tab">Estándares Laborales</a></li>
                        <li><a href="#tab3" data-toggle="tab">Medio Ambiente</a></li>
                        <li><a href="#tab4" data-toggle="tab">Anticorrupción</a></li>
                  </ul>
                  <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                              <div class="media">
                                    <a class="pull-left" href="#">
                                         <img src="/img/foto_pequeña.png">
                                    </a>
                                    <div class="media-body">
                                          <p>
                                                LDS INGENIERIA LTDA apoya  y respeta la protección de los derechos humanos fundamentales reconocidos universalmente, dentro de su ámbito de influencia.
                                          </p>
                                    </div>
                                     </div>                                     
                                          <!-- Nested media object -->
                                        <div class="media">
                                          <a class="pull-left" href="#">
                                                <img src="/img/foto_pequeña.png">
                                          </a>
                                          <div class="media-body">
                                                <p>
                                                      LDS INGENIERIA LTDA se asegura no ser cómplice de la vulneración de los derechos humanos.

                                                </p>
                                                <!-- Nested media object -->
                                          </div>
                                    </div>
                             </div>
                        <div class="tab-pane" id="tab2">
                          <div class="media">
                                    <a class="pull-left" href="#">
                                         <img src="/img/foto_pequeña.png">
                                    </a>
                                    <div class="media-body">
                                          <p>
                                                LDS INGENIERIA LTDA apoya la libertad de Asociación y el reconocimiento efectivo del derecho a la negociación colectiva.
                                          </p>
                                    </div>
                              </div>
                               <div class="media">
                                    <a class="pull-left" href="#">
                                         <img src="/img/foto_pequeña.png">
                                    </a>
                                    <div class="media-body">
                                          <p>
                                                LDS INGENIERIA LTDA apoya la eliminación de toda forma de trabajo forzoso o realizado bajo coacción.
                                          </p>
                                    </div>
                              </div>
                               <div class="media">
                                    <a class="pull-left" href="#">
                                         <img src="/img/foto_pequeña.png">
                                    </a>
                                    <div class="media-body">
                                          <p>
                                                LDS INGENIERIA LTDA apoya  la erradicación del trabajo infantil.
                                          </p>
                                    </div>
                              </div>
                               <div class="media">
                                    <a class="pull-left" href="#">
                                         <img src="/img/foto_pequeña.png">
                                    </a>
                                    <div class="media-body">
                                          <p>
                                                LDS INGENIERIA LTDA apoya la abolición de las prácticas de discriminación en el empleo y ocupación.
                                          </p>
                                    </div>
                              </div>   
                        </div>
                         <div class="tab-pane" id="tab3">
                              <div class="media">
                                    <a class="pull-left" href="#">
                                         <img src="/img/foto_pequeña.png">
                                    </a>
                                    <div class="media-body">
                                          <p>
                                                LDS INGENIERIA LTDA mantiene un enfoque preventivo que favorezca el medio ambiente.
                                          </p>
                                    </div>
                              </div>
                               <div class="media">
                                    <a class="pull-left" href="#">
                                         <img src="/img/foto_pequeña.png">
                                    </a>
                                    <div class="media-body">
                                          <p>
                                               LDS INGENIERIA LTDA favorece el desarrollo y la difusión de las tecnologías respetuosas con el medio ambiente.
                                          </p>
                                    </div>
                              </div>
                               <div class="media">
                                    <a class="pull-left" href="#">
                                         <img src="/img/foto_pequeña.png">
                                    </a>
                                    <div class="media-body">
                                          <p>
                                               LDS INGENIERIA LTDA fomenta las iniciativas que promuevan una mayor responsabilidad ambiental.
                                          </p>
                                    </div>
                              </div>       
                        </div>
                         <div class="tab-pane" id="tab4">
                               <div class="media">
                                    <a class="pull-left" href="#">
                                         <img src="/img/foto_pequeña.png">
                                    </a>
                                    <div class="media-body">
                                          <p>
                                               LDS INGENIERIA LTDA trabaja permanentemente en contra de la corrupción en todas sus formas, incluidas la extorsión, el cohecho y el soborno.
                                          </p>
                                    </div>
                              </div> 
                        </div>
                              </div>
      </div><!--finaliza columna derecha interna -->
    </div><!--finaliza row columna interna  -->
  </div><!--finaliza columna principal -->
</div><!--finaliza  row columna principal -->
</div>
 </div>