/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require bootstrap-responsive
 */

/*
Color Bars
*/
#color-bars{
  z-index:1000;
  position:fixed;
  height:8px;
  margin:0px;
  padding:0px;
  display:block;
  width:100%;
  background:#0f5552;
}
.color-bar{
  float:left;
  height:10px;
  display:block;
  width:20%;
}
#bar-1{background:#0f4bac;  }
#bar-2{background:#0f73d3;  }
#bar-3{background-color:#0fa3b8;  }
#bar-4{background-color:#0fac51;  }
#bar-5{background-color:#0f5552;  }
/*
--*/

.fondo-blanco{
	background-color: white;
}
.fondo-azul{
	background-color: #054889;
}
.claro{
	color: white;
}